<div class="container">
    <h1 class=" d-flex justify-content-center title">why choose us</h1>
    <p class="d-flex justify-content-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, expedita sit amet consectetur adipisicing elit.</p>
    <div class="row row-cols-3 choose">
        <ul>
            <li>01</li>
            <li><b>Lorem, ipsum.</b> </li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
        </ul>
        <ul>
            <li>02</li>
            <li><b>Lorem, ipsum.</b> </li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
        </ul>
        <ul>
            <li>03</li>
            <li><b>Lorem, ipsum.</b> </li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
        </ul>

    </div>
    <h1 class="d-flex justify-content-center title">Check our specials</h1>
    <p class="d-flex justify-content-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, magnam consectetur adipisicing elit.</p>
    <div class="row row-cols-3">
        <ul class="list-group lista">
            <li class="list-group-item active" aria-current="true">An active item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
        </ul>

        <div>
            <h4> mollitia consectetur natus sit nam esse <br></h4> nulla soluta! Est, sed quaerat necessitatibus mollitia consectetur natus sit nam esse nulla soluta! Est, sed quaerat necessitatibus <br> commodi aut qui numquam assumenda magni adipisci placeat.
            Lorem ipsum dolor sit amet
            <br> consectetur adipisicing elit. Harum voluptatem, dolorem sequi corrupti facilis<br> recusandae pariatur? Aliquam amet voluptate quidem atque sapiente enim doloribus<br> excepturi. Atque quasi ad nihil aliquid?
        </div>
        <div>
            <img src="https://cdn.pixabay.com/photo/2017/03/23/19/57/asparagus-2169305__480.jpg" width="300px" height="300px">
        </div>
    </div>

</div>