<div class="container home">
    <h1 class="d-flex justify-content-center text-dark">Ristorante Te gambero Rosso</h1>

    <div class="pic">
        <img src="https://cdn.pixabay.com/photo/2014/07/15/13/36/coffee-shop-393954__480.jpg" width="400px" height="450px">
    </div>

    <article class="text" width="400px">
        <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit </h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem perspiciatis temporibus quo <br> mollitia delectus minus, reprehenderit beatae illum cupiditate quibusdam, magni rem officia non, <br> minima porro pariatur harum necessitatibus
            qui. Lorem ipsum dolor sit amet consectetur adipisicing <br> elit. Ullam, enim? Nobis nulla nemo vel provident eos quaerat odio? Hic tempora voluptate vitae <br> doloremque debitis illo architecto nihil itaque unde nemo.
        </p>
        <ul>
            <li>tempora voluptate vitae</li>
            <li>tempora voluptate vitae</li>
        </ul>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem perspiciatis temporibus quo <br> mollitia delectus minus, reprehenderit beatae illum cupiditate quibusdam, magni rem officia non, <br> minima porro pariatur harum necessitatibus
            qui. Lorem ipsum dolor sit amet consectetur adipisicing <br> elit. Ullam, enim? Nobis nulla nemo vel provident eos quaerat odio? Hic tempora voluptate vitae <br> doloremque debitis illo architecto nihil itaque unde nemo.
        </p>
    </article>
</div>